.DS_Store

/.bundle
/.env*

/apps/liyt_api/.bundle
/apps/liyt_api/.env*
/apps/liyt_api/log/*
/apps/liyt_api/tmp/*
/apps/liyt_api/storage/*
/apps/liyt_api/tmp/storage/*
/apps/liyt_api/tmp/pids/*
!/apps/liyt_api/log/.keep
!/apps/liyt_api/tmp/.keep
!/apps/liyt_api/tmp/storage/.keep
!/apps/liyt_api/tmp/pids/.keep
!/apps/liyt_api/storage/.keep

/apps/liyt_api/config/master.key
/apps/liyt_api/.kamal/secrets
